body {
    height: auto;
    background: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    background: cornflowerblue;
    color: white;
    border: 2px solid black;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: background 0.3s ease;
}

a:hover {
    background: lightblue;
}

header {
    text-align: center;
}

h1 {
    font-size: 100px;
    margin: 0;
}

.Logo {
    margin-top: 10px;
}
